.landingHeader{
	height: 100vh;
	background: linear-gradient(315deg, #5A5A5A, #4C647E);
}

.landingHeader-container{
	width: 80%;
	height: 70%;
	gap: 40px;
}
.landingHeader-img{
	height: auto;
	width: fit-content;
}
.landingHeader-img img{
	height: 120px;
}
.landingHeader-txt{
	text-align: center;
	gap: 8px;
}
.landingHeader-txt button{
	margin-top: 20px;
}

.header{
	height: 100vh;
	background: linear-gradient(45deg, #0b7fc7, #1d1d1d);
}
.header h1{
	margin-bottom: 10px;
}
.header h2{
	margin-bottom: 35px;
}
.header h3{
	margin-bottom: 10px;
}

.header-txt{
	width: 80%;
	height: 60%;
}
.header-txt span{
	color: #63BAF1;
}

#meaning{
	color: inherit;
	text-shadow: 0 0 10px #ECECEC;
}

.banner{
	height: 100vh;
}
.banner-container{
	margin-top: 25px;
	height: 85%;
	width: 95%;
	border: 2px dashed #FFFFFF;
}
.info-bar{
	width: 100%;
	/* background: #989898; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.profile-container{
	padding: 10px 20px;
	border: 3px solid #FFFFFF;
	border-radius: 20px;
	background: #8D8D8D7A;
	backdrop-filter: blur(5px);
}
#username{
	width: fit-content;
}
#time-container{
	padding: 10px 20px;
	border: 3px solid #FFFFFF;
	border-radius: 20px;
	background: #8D8D8D7A;
	backdrop-filter: blur(5px);
}

#gamecard{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 150px;
	border-radius: 10px;
	margin: 10px;
	transition: 0.3s;
}
#gamecard:hover{
	outline: 4px solid #ECECEC;
	outline-offset: 2px;
	cursor: pointer;
	transition: 0.3s;
}

#gamecard:hover p{
	color: #ffffff;
	background: linear-gradient(45deg, #2eafff90, #19649290);
	backdrop-filter: blur(3px);
	border-radius: 10px;
	visibility: visible;
}

#gamecard p{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	font-size: larger;
	font-weight: bold;
	text-align: center;
	padding: 0px 5px;
	visibility: hidden;
}

.gameContainer{
	flex-wrap: wrap;
	padding: 0 20px;
}