@font-face {
	font-family: 'Gilroy';
	src: url('./assets/fonts/Gilroy-Light.otf') format(opentype);
}
@font-face {
	font-family: 'GilroyExtraBold';
	src: url('./assets/fonts/Gilroy-ExtraBold.otf') format(opentype);
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Gilroy', sans-serif;
}

/* SCROLLBAR PROPERTIES START ========================================= */
*::-webkit-scrollbar{
	width: 7px;
	height: 7px;
}
*::-webkit-scrollbar-track{
	background: transparent;
}
*::-webkit-scrollbar-thumb{
	background-color: #ABABAB;
	border-radius: 5px;
}
*::-webkit-scrollbar-thumb:hover{
	background-color: #8F8F8F;
}
*::-webkit-scrollbar-thumb:active{
	background-color: #7A7A7A;
}
/* =========================================== SCROLLBAR PROPERTIES END */

html{
	user-select: none;
	color: #ECECEC;
	background: #242424;
}

a{
	color: #ECECEC;
	text-decoration-color: #ECECEC;
	text-underline-offset: 2px;
}

button{
	text-transform: uppercase;
	font-weight: bold;
	font-size: medium;
	padding: 10px 20px;
	color: #ECECEC;
	background: #56afe7;
	border: 2px solid #56afe7;
	border-radius: 8px;
	transition: 0.5s
}
button:hover{
	cursor: pointer;
	background: #3f81aa;
	border: 2px solid #ECECEC;
	transition: 0.5s;
}

.flexContainer{
	display: flex;
	align-items: center;
	justify-content: center;
}
.flexRow{
	display: flex;
	flex-direction: row;
}
.flexCol{
	display: flex;
	flex-direction: column;
}

.iframe{
	height: 75%;
	width: 90%;
	background: #242424;
	border: 3px solid #6590BB;
	border-radius: 10px;
	filter: drop-shadow(0 0 30px #6590bb51);
}
.iframeControls{
	display: flex;
	gap: 15px;
}


iframe{
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

abbr{
	font-weight: bold;
	text-underline-offset: 3px;
}
abbr:hover{
	cursor: help;
}